@font-face {
  font-family: isoc;
  src: url(fonts/ISOCTEUR.ttf);
}

@font-face {
  font-family: iso;
  src: url(fonts/ISOCT.ttf);
}

@font-face {
  font-family: robo;
  src: url(fonts/RobotoMono.ttf);
}

@font-face {
  font-family: pro;
  src: url(fonts/BeVietnamPro-Regular.ttf);
}

@font-face {
  font-family: prothin;
  src: url(fonts/BeVietnamPro-Thin.ttf);
}

@font-face {
  font-family: proit;
  src: url(fonts/BeVietnamPro-ThinItalic.ttf);
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

/*
@media only screen and (max-width:700px) {
  h1 { font-size: 30px; }
  .menu a { font-size: 15px; }
  .meat img { max-width: 300px; }
}
*/
body {
background: rgb(209,189,132);
background: linear-gradient(103deg, rgba(209,189,132,1) 0%, rgba(223,238,253,1) 100%);
  margin: 0px 0px 21px 0px;
  min-width: 300px;
}

h1 {
  font-family: pro;
  font-size: 50px;
  letter-spacing: 5px;
  color: #fc4445;
  line-height: 50px;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  font-family: prothin;
  font-size: 24px;
  letter-spacing: 5px;
  color: #5abdff;
  line-height: 25px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}

h3 {
  font-family: pro;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fc4445;
  margin: 30px 0 30px 0;
}

p {
  font-family: robo;
  color: black;
  font-size: 20px;
  text-align: justify;
  margin: 10px 0 20px 0;
}

ul {
  font-family: robo;
  color: grey;
  font-size: 20px;
  text-align: justify;
}

form {
  font-family: robo;
  color: grey;
  font-size: 20px;
}

input {
  font-family: robo;
  color: black;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 2px;
}

textarea {
  margin-top: 5px;
  font-family: robo;
  color: black;
  font-size: 16px;
  resize: vertical;
  width: 100%;
  border-radius: 2px;
  border: none;
  outline: none;
}

button[type="submit"] {
  font-family: robo;
  font-size: 20px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 2px;
  background-color: #F4976C;
  color: black;
}

button[type="submit"]:hover {
  background-color: #f5a987;
}

.form-group {
  width: 400px;
}

.container {
  height: 90vh;
  position: relative;
}

.vert-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  backdrop-filter: blur(5px);
  padding: 10px 0 10px 0;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(50px);
  margin: 0 0 20px 0;
  word-spacing: -9px;
  border-radius: 8px;
}

.menu a {
  font-family: proit;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 25px;
  color: black;
  padding: 0 18px 0 18px;
  text-decoration: none;
}

.menu a:hover {
  color: white;
}

.drop-btn {
  right: 0;
  background-color: transparent;
  padding: 12px 0px 0px 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  padding-top: 15px;
  min-width: 150px;
  z-index: 1;
}

.dropdown a {
  font-family: isoc;
  font-size: 20px;
  color: grey;
  padding: 0 0 20px 10px;
  text-decoration: none;
  display: block;
}

.meat {
  margin: 50px 10vw;
}

.meat h1 {
  margin: 50px;
}

.meat p {
  color: black;
}

.meat h2 {
  color: #fc4445;
  margin-top: 50px;
}

.meat h3 {
  color: #fc4445;
}

.meat p a {
  color: #fc4445;
  text-decoration: none;
}

.meat p a:hover {
  color: white;
}

.meat img {	
  width: 400px;
  max-width: 80%;
  padding: 0px;
  border-radius: 12px;
  min-width: 100px;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#images {
  text-align: center;
}

.skills {
  padding-left: 50px;
  text-indent: -50px;
}

.links {
  text-align: center;
}

.links a {
  padding: 0 5vw;
}

.img-text {
  vertical-align: bottom;
  display: inline-block;
  text-align: center;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(20px);
  padding-top: 36px;
  border-radius: 12px;
  margin: 0px;
  width: 500px;
}

.caption {
  font-family: robo;
  color: #545454;
  display: block;
  padding: 20px;
  text-align: center;
}

.caption a {
  color: #fc4445;
  text-decoration: none;
}

.caption a:hover {
  color: white;
}