@font-face {
  font-family: isoc;
  src: url(fonts/ISOCTEUR.ttf);
}

@font-face {
  font-family: iso;
  src: url(fonts/ISOCT.ttf);
}

@font-face {
  font-family: robo;
  src: url(fonts/RobotoMono.ttf);
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

/*
@media only screen and (max-width:700px) {
  h1 { font-size: 30px; }
  .menu a { font-size: 15px; }
  .meat img { max-width: 300px; }
}
*/
body {
  color: white;
  background-color: #282C34;
  margin: 0;
  min-width: 300px;
}

h1 {
  font-family: iso;
  font-size: 50px;
  color: white;
  line-height: 50px;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  font-family: iso;
  font-size: 24px;
  color: grey;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: left;
}

h3 {
  font-family: isoc;
  font-size: 20px;
  color: grey;
  margin: 10px 0 0 0;
  letter-spacing: -2px;
}

p {
  font-family: robo;
  color: grey;
  font-size: 20px;
  text-align: justify;
  margin: 10px 0 20px 0;
}

ul {
  font-family: robo;
  color: grey;
  font-size: 20px;
  text-align: justify;
}

form {
  font-family: robo;
  color: grey;
  font-size: 20px;
}

input {
  font-family: robo;
  color: black;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
  border-radius: 2px;
  border: none;
  outline: none;
  padding: 2px;
}

textarea {
  margin-top: 5px;
  font-family: robo;
  color: black;
  font-size: 16px;
  resize: vertical;
  width: 100%;
  border-radius: 2px;
  border: none;
  outline: none;
}

button[type="submit"] {
  font-family: robo;
  font-size: 20px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 2px;
  background-color: #B871CE;
  color: black;
}

button[type="submit"]:hover {
  background-color: #C17DD8;
}

.form-group {
  width: 400px;
}

.container {
  height: 90vh;
  position: relative;
}

.vert-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  padding: 10px 10px;
  background-color: #191B21;
}

.menu a {
  font-family: isoc;
  letter-spacing: -3px;
  word-spacing: -5px;
  font-size: 25px;
  color: grey;
  padding: 0 12px 0 0;
  text-decoration: none;
}

.menu a:hover {
  color: #E06C75;
}

.drop-btn {
  right: 0;
  background-color: transparent;
  padding: 12px 0px 0px 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  padding-top: 15px;
  min-width: 150px;
  z-index: 1;
}

.dropdown a {
  font-family: isoc;
  font-size: 20px;
  color: grey;
  padding: 0 0 20px 10px;
  text-decoration: none;
  display: block;
}

.meat {
  margin: 50px 10vw;
}

.meat h1 {
  margin: 50px;
}

.meat p {
  color: #81868C;
}

.meat h2 {
  color: #59BBC6;
  margin-top: 50px;
}

.meat h3 {
  color: #95BF77;
}

.meat p a {
  color: #ccc;
  text-decoration: none;
}

.meat p a:hover {
  color: white;
}

.meat img {
  width: 400px;
  max-width: 80%;
  padding: 10px;
  border-radius: 18px;
  min-width: 100px;
}

.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#images {
  text-align: center;
}

.skills {
  padding-left: 50px;
  text-indent: -50px;
}

.links {
  text-align: center;
}

.links a {
  padding: 0 5vw;
}
